.container {
  display: flex;
  height: 100vh;
  align-items: center;
  background: #333;
}
.container #map {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  margin-top: 0%;
  background: lightgrey;
}


.thumbs {
  /*border-top: 1px solid  #d87e79;*/
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  padding: 32px;
  margin: auto;
}

.thumb {
  border: 1px solid #d87e79;
  box-shadow: 0 2px 3px #a94c40;
  margin: 32px;
  box-sizing: border-box;
  cursor: pointer;
}

/** Simple fade transition for the popup*/
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
